<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form"  [formGroup]="loginForm" (submit)="signIn()">
                <span class="login100-form-title p-b-26">
						TFC 
					</span>
                <span class="login100-form-title p-b-48">
                    <img id="logo" src="https://image.flaticon.com/icons/png/512/196/196361.png"  style="width: 50%;" alt="IMG">
                </span>

                <div  class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input formControlName="email" name="email"   placeholder="Usuario" type="text" class="form-control">
                    <span class="focus-input100"></span>
                </div>

                <div  class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
                        </span>
                        
                        <input formControlName="password" placeholder="Contraseña"  name="password" type="password" class="form-control">
                    <span class="focus-input100"></span>
                </div>

              
              <div class="text-center">
                <button [disabled]="!loginForm.valid" *ngIf="!ingresando" type="submit" class="btn btn-primary btn-sm"><strong>Ingresar</strong></button>
                <br>
                <br>                   
                
                <button disabled="true" *ngIf="ingresando" type="button" class="btn btn-primary btn-sm"><strong>Ingresando . . .</strong></button>
                <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/registro_usuario']" ><strong>Registrar</strong></button>
            </div>


                

            </form>
        </div>
    </div>
</div>
