<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-26">
						TFC !
					</span>
                <span class="login100-form-title p-b-48">
                    <img id="logo" src="https://image.flaticon.com/icons/png/512/196/196361.png"  style="width: 50%;" alt="IMG">
                </span>

                <div  class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c">
                    <input [(ngModel)]="usario.username" placeholder="Usuario" name="username" class="input100" type="text">
                    <span class="focus-input100"></span>
                </div>

                <div  class="wrap-input100 validate-input" data-validate="Enter password">
                    <span class="btn-show-pass">
						</span>
                    <input class="input100" [(ngModel)]="usario.password" placeholder="Password" name="password" type="password" [disabled]="clienteInvitado">
                    <span class="focus-input100"></span>
                </div>

                

              
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        
                        <button (click)="login()" class="login100-form-btn">
                            
                            Ingresar
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
